---
    layout: default
    title: Home
---

<!-- Page Header-->
<header class="masthead" style="background-image: url('assets/img/topbild_extended.png')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>DFG Research Training Group <strong>CAUSE</strong></h1>
                    <a class="btn btn-primary m-4" role="button" href="apply">Apply here!</a></span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content-->
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
Today, almost any technical system is digitally controlled which adds to its smartness. Such digitally controlled systems feature many and functionally diverse interacting subsystems, system levels, and connections to other systems. Many problems arising during their design and operation can be traced back to a lack of understanding and consequential mismatches at their interfaces. Avoiding such fallacies, demands mutual explanations of behaviour comprehensible to other systems, designers, developers, and operators. <br>

The research training group CAUSE addresses these issues by striving to make digitally controlled systems self-explaining to developers, users, and other systems.<br>

Researchers from three institutions - the Hamburg University of Technology, the University of Bremen, and the University of Oldenburg - team up to comprehensively cover Cyber-Physical Systems (CPS) design on all abstraction levels. 
Four cohorts of eight to ten doctoral researchers plus associated researchers from the participating groups are following a structured graduation programme. The first cohort starts in November 2024.
        </div>
    </div>
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            {% for post in site.posts limit: 3 %}
                <!-- Post preview-->
                <div class="post-preview">
                    <a href="{{ post.url }}">
                        <h2 class="post-title">{{ post.title }}</h2>
                        <h3 class="post-subtitle">{{ post.excerpt }}</h3>
                    </a>
                    {% assign author = site.authors | where: 'short_name', page.author | first %}
                    {% if author %}
                    <p class="post-meta">
                        Posted by
                        <a href="{{ author.url }}">{{ author.name }}</a>
                    </p>
                    {% endif %}
                </div>
                <!-- Divider-->
                <hr class="my-4" />
            {% endfor %}

            <!-- Pager-->
            <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="news">Older News →</a></div>
        </div>
    </div>
</div>


<div class="container mt-5">
    <div class="row">
        <div class="col align-self-center text-center">
            <img src="assets/img/CAUSE_Norddeutschland.png" class="mx-auto " alt="Map of North Germany">
        </div>
    </div>
</div>
