---
    layout: default
    title: Home
---

<!-- Page Header-->
<header class="masthead" style="background-image: url('assets/img/top.webp'); background-position: top;">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading py-xxl-4">
                    <h1>DFG Research Training Group <strong>CAUSE</strong></h1>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content-->
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <h1 class="mt-2">Latest news:</h1>
            <hr class="my-4" />
            {% for post in site.posts limit: 3 %}
                <!-- Post preview-->
                <div class="post-preview">
                    <a href="{{ post.url }}">
                        <h5 class="post-title">{{ post.title }}</h5>
                    </a>
                    <small>{{ post.date | date: "%-d %B %Y" }}</small>
                    <h6 class="post-subtitle">{{ post.excerpt }}</h6>
                    {% assign author = site.pis | concat: site.authors | where: 'short_name', post.author | first %}
                    {% if author %}
                    <p class="post-meta">
                        Posted by
                        <a href="{{ author.url }}">{{ author.name }}</a>
                    </p>
                    {% endif %}
                </div>
                <!-- Divider-->
                <hr class="my-4" />
            {% endfor %}

            <!-- Pager-->
            <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="news">Older News →</a></div>
        </div>
    </div>
</div>


<div class="container mt-5">
    <div class="row">
        <div class="col align-self-center text-center">
            {% assign map = site.static_files | where:"basename", CAUSE_Norddeutschland | where:"extname", ".png" | first %}
            <img src="{{ map.path }}" class="mx-auto " alt="Map of North Germany">
        </div>
    </div>
</div>
