<footer class="border-top my-4">
    <div class="container px-4 px-lg-5">
        <div class="row py-4 gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <ul class="list-inline text-center">
                    <li class="list-inline-item">
                        
                        <a href="https://www.tuhh.de">
                            <img height="100" src="assets/img/tuhh.png" alt="Logo TU Hamburg" />
                        </a>
                    </li>
                    <li class="list-inline-item">
                        
                        <a href="https://www.uni-bremen.de">
                            <img height="100" src="assets/img/unibremen.png" alt="Logo Uni Bremen" />
                        </a>
                    </li>
                    <li class="list-inline-item">
                        
                        <a href="https://www.uol.de">
                            <img height="100" src="assets/img/unioldenburg.png" alt="Logo Uni Oldenburg" />
                        </a>
                    </li>
                </ul>
                <div class="small text-center text-muted fst-italic">Copyright &copy; CAUSE 2024</div>
            </div>
        </div>
    </div>
</footer>
