---
layout: default
---

<div class="container">
  {% include breadcrumb_people.html person_name=page.name %}
</div>

<div class="container rounded bg-white mb-5">
  <div class="row">
    <div class="col-md-4 border-right">
      <div class="d-flex flex-column align-items-center text-center p-3 py-5">
        {% assign portrait = site.static_files | where: "basename", page.short_name | where: "extname", ".webp" | first %}
        {% if portrait == nil %}
          {% assign portrait = site.static_files | where: "basename", "person" | where: "extname", ".webp" | first %}
        {% endif %}
        <img
          class="img-fluid mt-5"
          src="{{ portrait.path }}"
          alt="Portrait {{ page.name }}" />
        <span class="font-weight-bold pt-3">{{ page.name }}</span>
        {% if page.link %}
          <span class="text-black-50">
            <a href="{{ page.link }}">Personal page</a>
          </span>
        {% elsif page.email %}
          <span class="text-black-50">
            <a href="mailto:{{ page.email }}">E-mail</a>
          </span>
        {% endif %}
      </div>
    </div>
    <div class="col-md-6 border-right">
      <div class="p-3 py-5">
        <div class="d-flex justify-content-between align-items-center mb-3">
          <h4 class="text-right">About</h4>
        </div>
        {{ content }}
      </div>

      {% if page.role == "supervisor" or page.role == "fellow" %}
        <div class="p-3 py-5">
          <div class="d-flex justify-content-between align-items-center mb-3">
            <h4 class="text-right">Projects</h4>
          </div>
          <ul>
            {% assign fellows_projects = site.projects | where_exp: "project", "project.fellow == page.short_name" %}
            {% assign filtered_projects = site.projects | where_exp: "project", "project.lead == page.short_name" | concat: fellows_projects %}
            {% for project in filtered_projects %}
              <li>
                <a href="{{ project.url | remove: ".html" }}">{{ project.title }}</a>
              </li>
            {% endfor %}
          </ul>
        </div>
      {% endif %}
    </div>
  </div>
</div></div></div>