---
layout: default
---

<div class="container">
  {% include breadcrumb_projects.html project_number=page.id %}
</div>

<div class="container py-4">
  <h1>{{ page.title }}</h1>

  {% assign fellows = "" | split: "" %}
  {% for name in page.fellow %}
    {% assign matched = site.people | where: "short_name", name | first %}
    {% if matched %}
      {% assign fellows = fellows | push: matched %}
    {% endif %}
  {% endfor %}

  {% if fellows.size > 0 %}
    <div class="row align-items-start gx-5">
      <div class="col-md-auto me-5">
        <p class="view">
          Fellow{% if fellows.size > 1 %}s{% endif %}:
          {% for fellow in fellows %}
            <a href="{{ fellow.url | remove: ".html" }}">{{ fellow.name }}</a>{% if forloop.last == false %}, {% endif %}
          {% endfor %}
        </p>
      </div>
    </div>
  {% endif %}

  <div class="row align-items-start gx-5">
    <div class="col-md-auto me-5">
      {% assign supervisor = site.people | where: 'short_name', page.supervisor | first %}
      <p class="view">
        Supervisor:
        <ul class="list-inline">
          <li class="list-inline-item">
            <a href="{{ supervisor.url | remove: ".html" }}">{{ supervisor.name }}</a><br>
            {{ supervisor.institution }}
          </li>
        </ul>
      </p>
    </div>
    {% if page.draft == false %}
      <div class="col-md-auto">
        <p class="view">
          Co-Supervisors:
          <ul class="list-inline">
            {% assign cosupervisor1 = site.people | where: 'short_name', page.cosupervisor1 | first %}
            {% assign cosupervisor2 = site.people | where: 'short_name', page.cosupervisor2 | first %}
            <li class="list-inline-item">
              <a href="{{ cosupervisor1.url | remove: ".html" }}">{{ cosupervisor1.name }},</a>
            </li>
            <li class="list-inline-item">
              <a href="{{ cosupervisor2.url | remove: ".html" }}">{{ cosupervisor2.name }}</a>
            </li>
          </ul>
        </p>
      </div>
    {% endif %}
  </div>

  {{ content }}

</div>